Repository ipfs/team-mgmt, pull requests merged in 2019-07, with the labels that each got.

#988 Create 2019-06-10--go-core-dev-team-weekly.md
  meeting-notes/2019/Q2/2019-06-10--go-core-dev-team-weekly.md
Labels: 💫 Golang Core Dev

#990 Create 2019-07-01--js-core-dev-team-weekly.md
  meeting-notes/2019/Q3/2019-07-01--js-core-dev-team-weekly.md
Labels: ⚡️ⒿⓈ Core Dev

#989 Create 2019-06-24--js-core-dev-team-weekly.md
  meeting-notes/2019/Q2/2019-06-24--js-core-dev-team-weekly.md
Labels: ⚡️ⒿⓈ Core Dev

#987 Create 2019-06-10--js-core-dev-team-weekly.md
  meeting-notes/2019/Q2/2019-06-10--js-core-dev-team-weekly.md
Labels: ⚡️ⒿⓈ Core Dev

#926 OKRs - 2019 Q2 GUI
  OKR/GUI.md
Labels: in progress

#921 OKRs - 2019 Q2 Infra WG
  OKR/INFRA.md
Labels: in progress

#893 Create 2019-01-22-to-2019-03-05--cluster-meeting-archive.md
  meeting-notes/2019/Q1/2019-01-22-to-2019-03-05--cluster-meeting-archive.md
Labels: in progress
